
body{
  background-color: #86C6F4;
  overflow-y: hidden;
  overflow-x: hidden;
}

.App h1{
  display: block;
margin-left: 10%; 
position: relative;
top:50px; 
}

#map{
  height: 550px;
  margin:10%;
  margin-top: 3.5%;

  width:1000px;
  border: 2px solid black;
}

#attribute{
  width:200px;
  border: 2px solid black;
  background-color: aqua;
  /* margin: 3%; */
  margin-bottom: 30%;
  align-items: center;
  text-align: center;
  height:16%;
  position: relative;
  right: 50px;
  bottom: 35px;
  
}

#attribute p{
  color:gray;
  font-size: larger;
margin-top:5%;
}

#attribute h2{

margin-top: 5%;

}
.attributes{
  margin-top: 10%;
}
.dropdown{
  position: relative;
  left: 85%;
}